/linux/
/osx/
/sed-win32/
/win32/
/groovy-grails-tool-suite-3.6.4.RELEASE-e4.4.2-linux-gtk-x86_64.tar.gz
/groovy-grails-tool-suite-3.6.4.RELEASE-e4.4.2-macosx-cocoa-x86_64.tar.gz
/groovy-grails-tool-suite-3.6.4.RELEASE-e4.4.2-win32.zip
