/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require ../dist/lcars/bootstrap/css/bootstrap.css
*= require ../dist/lcars/theme.css
*= require_self
*/

body {
	padding-top: 100px;
}

.margin-top-medium {
	margin-top: 20px;
}

.margin-bottom-medium {
	margin-bottom: 20px;
}

.table > thead {
	background-color: #2E5B77;
}
.table > thead a {
	color: #86B6E1;
}

//make our modals black too, with a white line. This was not done correctly in the lcars theme.
.modal-content{
	border: 1px solid rgba(255, 255, 255, 1.0) !important;
	background-color: #000 !important;
}